.ico {
	cursor: pointer;
	display: inline-block;
}

.icon-square {
	width: 50px;
	height: 50px;
	border-radius: 19px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	&_violet {
		background-color: $color-violet;
	}
	&_yellow {
		background-color: $color-yellow;
	}
	&_red {
		background-color: $color-red;
	}
	&_blue {
		background-color: $color-blue;
	}
}

.ico_play {
	background-image: url(../../src/img/svg/ico-play.svg);
	width: 18px;
	height: 19px;
}

.ico_arrow {
	background-image: url(../../src/img/svg/arrow.svg);
	width: 12px;
	height: 17px;
}

.ico_snake {
	background-image: url(../../src/img/svg/snake.svg);
	width: 18px;
	height: 14px;
}

.ico_heart {
	background-image: url(../../src/img/svg/heart.svg);
	width: 17px;
	height: 15px;
}

.ico_watches {
	background-image: url(../../src/img/svg/watches.svg);
	width: 15px;
	height: 17px;
}

.ico_phone {
	background-image: url(../../src/img/svg/ico_phone.svg);
	width: 25px;
	height: 25px;
}

.ico_letter {
	background-image: url(../../src/img/svg/ico_mail.svg);
	width: 25px;
	height: 25px;
}

